include header.pug
ul.horizontal
	li
		a(href="../admin/admindash") User Management
	li
		a(href="../admin/equipmain") Equipment Management
	li
		a(href="../admin/manumain") Manufacturer Management
style.
	#linemenu, #headerspan{display:none}
	#uuul{padding:0;margin:0}	
	.magnify{
		background:url("../images/magnify.png") no-repeat 2px 3px;
		padding: 5px 5px 5px 35px;
		border-radius: 10px;
		border: 1px solid #999;
		width: 50%;
	}
	.arrow{background-image:url('../images/up-down.png');width:35px;height:33px;cursor:pointer;padding-top:7px}
	.arrow span{padding-left:45px}
	.down{background-position:34px -1px;}
	.up{background-position:1px -1px;}
	.hidivs{display:none;border:1px solid #e7e7e7;min-height:50px;margin-top:10px;padding:5px}
	.subdiv{width:45%;margin:10px;float:left}
	#hiddiv{display:none;position:absolute;border:1px solid #999;width:66%;text-align:left;z-index:999}
	.subdivddd{padding:10px;width:100%}
	#rightdiv{text-align:center;padding:10px;position:relative}
	.tttdiv{margin:2px 0 0 38px}
	#left_fac_div, #left_pra_div{display:none;} 
	#headerspan{display:none}
	#searchpopup{display:none;border:1px solid #D0D0D0;padding:5px;position:absolute;z-index:9999; width:98%; top:118px; background:#FFF}
	.miniarrow{background-image:url('../images/up-down-mini.png');width:30px;height:28px;cursor:pointer;padding-top:7px}
	.miniarrow span{padding-left:45px}
	.minidown{background-position:28px -1px;}
	.miniup{background-position:1px -1px;}
	table{width:100%}
	.pendd{margin-left:10px;cursor:pointer;color:#666;font-size:12px}
	th{color:#FFF;background:#003595;padding:3px}
.row
	.col-md-3
		include leftmenu_user.pug

	.col-md-8#rightdiv(style='border:1px solid #e7e7e7;margin:12px')
		form(method='get',onsubmit='return submitform()')
			.form-group.text-center(style='position:relative')
				h2 Add Facility				
				input#facility_name.form-control(type='text' name='facility_name' placeholder='Enter Facility Name')
				br
				input#facility_website.form-control(type='text' name='facility_website' placeholder='Enter Website')
				br
				input#facility_phone.form-control(type='text' name='facility_phone' placeholder='Enter Phone')
				br
				input#facility_fax.form-control(type='text' name='facility_fax' placeholder='Enter Fax')
				br
				input.btn.cbut.blue.bbbutons(type="submit" value='Save' style='margin-left:35%;position:absolute')
				br
script.
	function assign_bins(id,name){
		console.log('in the assign bins........');
		arr = document.getElementsByName('secb');
		global_currid = id;
		ff='';facid = global_currid;
		console.log('global_currid:'+global_currid);
		for(i=0;i<arr.length;i++)
			if(arr[i].checked)
				ff += arr[i].value+'|';
		$.post('/admin/assignbins2', {id:id, ff:ff}, function(data){ // facid
			console.log(data);
			o('rightdiv').innerHTML = data;
			//if(ch == 2) window.location.href = window.location; 
			//else o('subdivddd').innerHTML = '';
		});
	}
	function o(id){return document.getElementById(id);}
	function c(cname){return document.getElementsByClassName(cname)[0];}
	function submitformpractise(){
		if(o('first_name').value == '') {alert('Enter the surgeon name');return;}
		$.post('/admin/addpractise', {prac_name: o('first_name').value,middle_name: o('middle_name').value,last_name: o('last_name').value,website: o('website').value,fax: o('fax').value,cell: o('cell').value,email: o('email').value,npi: o('npi').value}, function(data){
			console.log(data);
			// results = data.results;
			//o('rightdiv').innerHTML = data.html;
			window.location.href=window.location;
		});
		return false;
	}
	function dlink(fid){
		//console.log(fid+':--------------:'+dlink);
		dlis = document.getElementsByName('dlinkchs');
		tarr = [];
		for(i=0;i<dlis.length;i++){
			if(dlis[i].checked) tarr.push(dlis[i].value);
		}
		console.log(tarr);
		$.post('/admin/dlink', {fid: fid,tarr:tarr.toString()}, function(data){
			console.log(data);
				//o('rightdiv').innerHTML = data.html;
				alert('Surgeons Dlinks successfully')
				view_dlink(fid);
		});
	}
	function view_dlink(id){console.log('In dlink:'+id);
	
		$.post('/admin/showsurgeons', {fid: id}, function(data){
			console.log(data);
			if (data.noSurgeons) {
				alert("No surgeons found.");
			} else {
				o('rightdiv').innerHTML = data.html;
			}
		});	
	}
	function add_practise(){
		o('rightdiv').innerHTML = '<h2>Add Surgeon</h2><form method="get" onsubmit="return submitformpractise()"><div class="form-group text-center" style="position:relative"><input class="form-control subdiv" required id="first_name" type="text" name="first_name" placeholder="Enter First Name" /><input class="form-control subdiv" id="middle_name" type="text" name="middle_name" required placeholder="Enter Middle Name" /><input class="form-control subdiv" id="last_name" type="text" name="last_name" required placeholder="Enter Last Name" /><input class="form-control subdiv" id="website" type="text" name="website" required placeholder="Enter Website" /><input class="form-control subdiv" id="fax" type="text" name="fax" required placeholder="Enter Fax" /><input class="form-control subdiv" id="cell" type="text" name="cell" placeholder="Enter Cell" required /><input class="form-control subdiv" id="email" type="text" required name="email" placeholder="Enter Email" /><input class="form-control subdiv" id="npi" type="text" name="npi" required placeholder="Enter NPI" /><br><input class="btn cbut blue bbbutons" type="submit" style="position:relative;left:-4%" value="Save"><br></div></form>';
	}
	function callswap(obj,className){
		//console.log(className);
		objc = o(className);
		  _tmp = window.getComputedStyle(obj,null).backgroundPosition.trim().split(/\s+/),
		positions = {
			'left' : _tmp[0],
			'top' : _tmp[1]
		};
		console.log(positions, positions.left, positions.top);
		if(positions.left == '1px'){
			console.log('arrow is up');
			objc.style.display = 'block';
			// open
			obj.style.backgroundPosition = '34px -1px';
			
		}else{
			obj.style.backgroundPosition = '1px -1px';
			objc.style.display = 'none';
		}
		
	}	
	
	function callswapp(obj,className){
		//console.log(className);
		objc = o(className+'ppp');
		  _tmp = window.getComputedStyle(obj,null).backgroundPosition.trim().split(/\s+/),
		positions = {
			'left' : _tmp[0],
			'top' : _tmp[1]
		};
		console.log(positions, positions.left, positions.top);
		if(positions.left == '1px'){
			console.log('arrow is up');
			objc.style.display = 'block';
			// open
			obj.style.backgroundPosition = '34px -1px';
			
		}else{
			obj.style.backgroundPosition = '1px -1px';
			objc.style.display = 'none';
		}		
	}	
	function update_practise(id){
		$.post('/admin/updatepractise', {id: id, fax:o('facility_fax').value,phone: o('facility_phone').value,website:o('facility_website').value,namee:o('facility_name').value,npi:o('npi').value}, function(data){
			//console.log(data);
			// results = data.results;
			//o('rightdiv').innerHTML = data.html;
			alert("Updated practise successfully");
		});
	}
	ei=0;
	function edit_facility(fac_id){
		console.log(fac_id);
		$.post('/admin/editfacility', {fac_id: fac_id}, function(data){
			//console.log(data);
			// results = data.results;
			if(ei==0){
				edit_facility(fac_id);
				ei=1;
			}else{
				ei=0;
				o('rightdiv').innerHTML = data.html;
			}			
		});
	}
	ep=0;
	//edit_practise
	function edit_practise(pra_id){
		console.log(pra_id);
		$.post('/admin/editpractise', {pra_id: pra_id}, function(data){
			//console.log(data);
			// results = data.results;
			if(ep==0){ ep=1;edit_practise(pra_id); }else{ep=0;
			o('rightdiv').innerHTML = data.html;}
		});
	}
	function remove_facility(id){
		if(confirm('Do you really want to delete this facility!')){
		$.post('/admin/removefacility', {fac_id: id}, function(data){
			//console.log(data);
			// results = data.results;
			//o('rightdiv').innerHTML = data.html;
			window.location.href = window.location;
		});
		}
	}	
	function remove_practise(id){
		if(confirm('Do you really want to delete this Practise!')){
		$.post('/admin/removepractise', {fac_id: id}, function(data){
			//console.log(data);
			// results = data.results;
			//o('rightdiv').innerHTML = data.html;
			window.location.href = window.location;
		});
		}
	}	
	function update_facility(id){
		console.log(id );
		$.post('/admin/updatefacili', {id: id, fax:o('facility_fax').value,phone: o('facility_phone').value,website:o('facility_website').value,namee:o('facility_name').value }, function(data){
		console.log(data);
		window.location.href = window.location;
		});
	}
	/*
	binname | uniquename | binstatus | comments | fact_id | firmware     | mac_id    | mandate    | model    |
	+-----+---------+------------+-----------+----------+---------+--------------
	*/
	function catchWords(word){
		console.log(word);
		$.post('/admin/showBinsList', {word: word}, function(data){
			//console.log(data);
			results = data.results;
			//console.log(results); // model: "X", firmware: "khkhkhkh", uuid
			o('hiddiv').innerHTML = '';
			o('hiddiv').style.display = 'block';
			for(i=0;i<results.length;i++){
				//console.log(results[i]);
				o('hiddiv').innerHTML += '<div class="subdivddd"><input type="checkbox" name="secb" value="'+results[i].uid+'" />&nbsp;&nbsp;&nbsp;&nbsp;' + results[i].model +  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + results[i].mac_id + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + results[i].firmware  + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + results[i].mandate + '<div>';}
				// '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + results[i].binname +
		});
	}
	function amore(ch,fac_id){
		arr = document.getElementsByName('secb');
		console.log(fac_id);
		ff='';
		for(i=0;i<arr.length;i++)
			if(arr[i].checked)
				ff += arr[i].value+'|';
		$.post('/admin/assignbins', { ff:ff,fac_id:fac_id}, function(data){ // facid
			//console.log(data);
			o('rightdiv').innerHTML = data;
			if(ch == 2) window.location.href = window.location; 
		//	else o('subdivddd').innerHTML = '';
		});
	}
	/*
	| uid | binname | uniquename | binstatus | comments | fact_id | firmware     | mac_id    | mandate    | model
	*/
	function view_edit_bins(factid){
		$.post('/admin/assignbins3', {id:factid}, function(data){ // facid
			
			results = data.results;
			console.log(results);
			html = '<h2>Bins</h2><br><table><tr><th>#</th><th>Model</th><th>Mac Id</th><th>Firmware</th><th>Manufacture Date</th></tr>';
			for(i=0;i<results.length;i++){ // results[i].uid
				html += '<tr><td>'+(i+1)+'</td><td>'+results[i].model+'</td><td>'+results[i].mac_id+'</td><td>'+results[i].firmware+'</td><td>'+results[i].mandate+'</td></tr>';
			}
			html += '</table>';
			o('rightdiv').innerHTML = html;
			//if(ch == 2) window.location.href = window.location; 
			//else o('subdivddd').innerHTML = '';
		});
	}
	function changefacildd(id){
		console.log(id);
	
		$.post('/admin/changefacildd', {id:id}, function(data){
			console.log(data);
			o('righttable').innerHTML = data.html;
		});
	}
	function amorei(ch){
		arr = document.getElementsByName('secb');
		ff='';facid = global_currid;
		for(i=0;i<arr.length;i++)
			if(arr[i].checked)
				ff += arr[i].value+'|';
		console.log('binseahid:---------:'+o('binseahid').value+':'+facid);
		console.log(ff);
		$.post('/admin/assignbins2', {id:facid, ff:ff}, function(data){ // facid
			//console.log(data);
			o('rightdiv').innerHTML = data;
			//if(ch == 2) window.location.href = window.location; 
			//else o('subdivddd').innerHTML = '';
		});
	}
	function showbins(facid){
		$.post('/admin/showpreBins', {id: facid}, function(data){
			//console.log(data);
			o('rightdiv').innerHTML = data + '<input type="hidden" id="facilityid" value="'+facid+'" />';
		});
	}
	function submitformuser(){
		if(o('cemail').value != o('email').value){
			alert('Emails did not match');
		}else{
			$.post('/admin/adduser', {first_name: o('first_name').value, middle_name: o('middle_name').value, last_name: o('last_name').value, email: o('email').value, cell: o('cell').value, facid:o('facid').value}, function(data){
				alert('User added successfully');
				window.location.href = window.location;
			});
		}
		return false;
	}
	function submitformsurgeon(){
		if(o('cemail').value != o('email').value){
			alert('Emails did not match');
		}else{
			$.post('/admin/addsurgeon', {npi: o('npi').value,first_name: o('first_name').value, middle_name: o('middle_name').value, last_name: o('last_name').value, email: o('email').value, cell: o('cell').value, facid:o('facid').value}, function(data){
				alert('Surgeon added successfully');
				window.location.href = window.location;
			});
		}
		return false;
	}
	
	function add_user(name){console.log(name);o('rightdiv').innerHTML = '<h2>Add User</h2><form method="get" onsubmit="return submitformuser()"><div class="form-group text-center" style="position:relative"><input class="form-control subdiv" id="first_name" type="text" required name="first_name" placeholder="Enter First Name" /><input class="form-control subdiv" id="middle_name" type="text" required name="middle_name" placeholder="Enter Middle Name" /><input class="form-control subdiv" id="last_name" type="text" name="last_name" required placeholder="Enter Last Name" /><input class="form-control subdiv" id="cell" type="text" name="cell" required placeholder="Enter Cell" /><input class="form-control subdiv" id="email" type="text" name="email" required placeholder="Enter Email" /><input class="form-control subdiv" required id="cemail" type="text" name="cemail" placeholder="Enter Confirm Email" /><br><input type="hidden" name="facid" id="facid" value="'+name+'" /><input class="btn cbut blue bbbutons" type="submit" style="position:relative;left:-4%" value="Save"><br></div></form>';}
	
	function add_surgeon2(name,fname){console.log(name);o('rightdiv').innerHTML = '<h2>Add Surgeon</h2><div style="text-align:left;font-weight:bold;margin-left:10px">'+fname+'</div><input type="text" placeholder="Name/NPI" class="magnify" id="searchtext" onkeyup="search_surgeon('+name+',this.value)" /><br><input class="btn cbut blue bbbutons" type="button" style="left:-4%;margin-top:10px;position:relative;" value="Search" /><div id="searchpopup"></div>';}
	
	function npis(val){
		console.log(val+'---------');
	}
	
	function save_search_surgeon(fid){
		chs=document.getElementsByName('chsurgeons');
		vv='|';
		if(chs.length <= 0){ alert('Select a surgeon'); return; }
		for(i=0;i<chs.length;i++){
			if(chs[i].checked)
				vv += chs[i].value+'|';			
		}		
		
		//- console.log(vv);
		
		$.post('/admin/save_search_surgeon', {fid: fid,sids:vv}, function(data){
			alert('Surgeons are saved');
			window.location = window.location.href;
		});
	}
	
	function search_surgeon(id,val){
		console.log(id+':'+val);
		
		$.post('/admin/search_surgeon', {fid: id,text:val}, function(data){
			//console.log(data.result);
			o('searchpopup').style.display='block';
			html = '<table class="table"><thead><tr><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>NPI</th><th>Select</th></tr></thead>';
			for(i=0;i<data.result.length;i++){
				obj=data.result[i]; // id,first_name,last_name,middle_name,npi
				
				html += '<tr><td>'+obj.first_name+'</td><td>'+obj.middle_name+'</td><td>'+obj.last_name+'</td><td>'+obj.npi+'</td><td><input type="checkbox" name="chsurgeons" value="'+obj.id+'"  /></td></tr>';
			}
			o('searchpopup').innerHTML = html + '</table><input class="btn cbut blue bbbutons" value="Add" onclick="save_search_surgeon('+id+')" style="position:relative" />';
		});
	}
	
	function add_surgeon(name){console.log(name);o('rightdiv').innerHTML = '<h2>Add Surgeon</h2><form method="get" onsubmit="return submitformsurgeon()"><div class="form-group text-center" style="position:relative"><input class="form-control subdiv" id="first_name" type="text" name="first_name" placeholder="Enter First Name"><input class="form-control subdiv" id="middle_name" type="text" name="middle_name" placeholder="Enter Middle Name"><input class="form-control subdiv" id="last_name" type="text" name="last_name" placeholder="Enter Last Name"><input class="form-control subdiv" id="cell" type="text" name="cell" placeholder="Enter Cell"><input class="form-control subdiv" id="email" type="text" name="email" placeholder="Enter Email"><input class="form-control subdiv" id="cemail" type="text" name="cemail" placeholder="Enter Confirm Email"><input class="form-control subdiv" id="npi" type="text" name="npi" placeholder="Enter NPI"><br><input type="hidden" name="facid" id="facid" value="'+name+'" /><input class="btn cbut blue bbbutons" type="submit" style="position:relative;right: 30px;top: 50px;" value="Save"><br></div></form>';}
	
	//- function view_user(name){ // _pppp
	//- 	console.log("In the view facility User =============")
	//- 	console.log(name)
	//- 	$.post('/admin/viewAllFacilityUser', {id: name}, function(data){
	//- 		console.log(data.data);
	//- 		var userListHTML = '<h2>Users</h2><table>';
	//- 		userListHTML += '<tr><th>Select</th><th>Status</th><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>Cell</th><th>Email</th></tr>';
	//- 		for(var i = 0; i < data.data.length; i++) {
	//- 			var user = data.data[i];
	//- 			userListHTML += '<tr><td><input type="checkbox" name="selectedUser" value="' + user.id + '"></td><td style="text-align: center">[Status]</td><td>' + user.first_name + '</td><td>' + user.middle_name + '</td><td>' + user.last_name + '</td><td>' + user.cell + '</td><td>' + user.email + '</td></tr>';
	//- 		}
	//- 		userListHTML += '</table>';
	//- 		o('rightdiv').innerHTML = userListHTML;
	//- 		});
	//- 		}

	function view_user(name){ 
		console.log("In the view facility User =============")
		console.log(name)
		$.post('/admin/viewAllFacilityUser', {id: name}, function(data){
			console.log(data.data);
			if (data.data.length === 0) {
				alert("No users found."); // Display alert if no data is received
				return;
			}
			var userListHTML = '<h2>Users</h2><table>';
			userListHTML += '<tr><th>Select</th><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>Cell</th><th>Email</th></tr>';
			for(var i = 0; i < data.data.length; i++) {
				var user = data.data[i];
				userListHTML += '<tr><td><input type="checkbox" class="userCheckbox" name="selectedUser" value="' + user.id + '"></td><td>' + user.first_name + '</td><td>' + user.middle_name + '</td><td>' + user.last_name + '</td><td>' + user.cell + '</td><td>' + user.email + '</td></tr>';
			}
			userListHTML += '</table>';
			userListHTML += '<button class="btn cbut blue bbbutons" style="position:relative; margin-top: 40px;" onclick="deleteSelectedUsers()">Remove Selected Users</button>'; // Added delete button
			o('rightdiv').innerHTML = userListHTML;
		});
	}

	function deleteSelectedUsers() {
		var selectedUserIds = []; // Array to store selected user IDs
		// Iterate through checkboxes and add selected IDs to the array
		$('.userCheckbox:checked').each(function() {
		selectedUserIds.push($(this).val());
		});
		// Send selected IDs to the server for deletion
		$.post('/admin/removefacilityuser', {user_ids: selectedUserIds}, function(data) {
			alert('User Removed Successfully.')
			window.location.href = window.location;
		});
	}


	function view_surgeon(name){ // _pppp
		obj=o(name+'_utdd');
		cele=obj.classList; // Clearview1685192542303_utd
		console.log('view_surgeon----------');
		console.log(cele);
		console.log('view_surgeon----------');
		nextFlag = '';
		for(i=0;i<cele.length;i++){
			console.log('------------'+cele[i]+'----------');
			if(cele[i] == 'minidown'){
				nextFlag = 'miniup'; break; }
			if(cele[i] == 'miniup'){
				nextFlag = 'minidown'; break; }
		}
		console.log(nextFlag+'***');
		obj.className = '';
		obj.classList.add('miniarrow');
		obj.classList.add(nextFlag); // miniarrow minidown
		
		//console.log('adding miniarrow ' + nextFlag + ' to ' +name+'_utd');
		//if(cele=='') // miniarrow minidown
		objc = o(name+'_pppp');
		objc.innerHTML = '';
		//console.log('------1-------');return;
		if(nextFlag != 'miniup')
		$.post('/admin/showSurgeons', {id: name}, function(data){
			console.log(data);
			res = data.results;			
			if(res.length > 0){
				for(i=0;i<res.length;i++){
					objc.innerHTML += '<a href="javascript:opensurgeon(\''+res[i].id+'\')">'+res[i]['first_name']+'</a><br>';
				}
			}			
		});
	}
	
	function view_surgeon(name){ // _pppp
		obj=o(name+'_utdd');
		cele=obj.classList; // Clearview1685192542303_utd
		console.log('view_surgeon----------');
		console.log(cele);
		console.log('view_surgeon----------');
		nextFlag = '';
		for(i=0;i<cele.length;i++){
			console.log('------------'+cele[i]+'----------');
			if(cele[i] == 'minidown'){
				nextFlag = 'miniup'; break; }
			if(cele[i] == 'miniup'){
				nextFlag = 'minidown'; break; }
		}
		console.log(nextFlag+'***');
		obj.className = '';
		obj.classList.add('miniarrow');
		obj.classList.add(nextFlag); // miniarrow minidown
		
		//console.log('adding miniarrow ' + nextFlag + ' to ' +name+'_utd');
		//if(cele=='') // miniarrow minidown
		objc = o(name+'_pppp');
		objc.innerHTML = '';
		//console.log('------1-------');return;
		if(nextFlag != 'miniup')
		$.post('/admin/showleftSurgeons', {id: name}, function(data){
			console.log(data);
			res = data.results;			
			if(res.length > 0){
				for(i=0;i<res.length;i++){
					objc.innerHTML += '<a href="javascript:opensurgeon(\''+res[i].id+'\')">'+res[i]['first_name']+'</a><br>';
				}
			}			
		});
	}
	
	
	function opensurgeon(userid){
		o('rightdiv').innerHTML = '';
		$.post('/admin/showRightSurgeon', {userid: userid}, function(data){
			console.log(data);
			res = data.results;			
			if(res.length > 0){
				o('rightdiv').innerHTML = res;
			}			
		});
	}
	
	function removeuser(id){
		if(confirm('Do you really want to remove the user?')){
		
		$.post('/admin/removeuser', {user_id: id}, function(data){
			//console.log(data);
			// results = data.results;
			//o('rightdiv').innerHTML = data.html;
			window.location.href = window.location;
		});
		}
	}
	function removesurgeon(id){
		if(confirm('Do you really want to remove the Surgeon?')){
		
		$.post('/admin/removeuser', {user_id: id}, function(data){
			//console.log(data);
			// results = data.results;
			//o('rightdiv').innerHTML = data.html;
			window.location.href = window.location;
		});
		}
	}
	function reset_password(id,email){
		console.log(id);
		if(confirm('Do you really want to reset password')){
			$.post('/admin/resetpassword', {user_id: id}, function(data){
				window.location.href = window.location;
			});
		}
	}
	
	function exit_screen(){
		window.location = window.location.href;
	}
	var global_currid='';
	function view_bin(name){
		cele=o(name+'_btd').classList; // Clearview1685192542303_utd
		global_currid = name;
		//console.log(cele);
		nextFlag = '';
		for(i=0;i<cele.length;i++){
			if(cele[i] == 'minidown'){
				nextFlag = 'miniup'; break; }
			if(cele[i] == 'miniup'){
				nextFlag = 'minidown'; break; }
		}
		
		o(name+'_btd').className = '';
		o(name+'_btd').classList.add('miniarrow');
		o(name+'_btd').classList.add(nextFlag);
		
		objc = o(name+'_bbb');
		objc.innerHTML = '';
		$.post('/admin/showBins', {id: name}, function(data){
			console.log(data);
			res = data.results;			
			if(res.length > 0){
				for(i=0;i<res.length;i++){
					if(i > 0) objc.innerHTML +='<br >';
					objc.innerHTML += '<a href="javascript:showhightedbin(`'+res[i].uuid+'`)">'+res[i]['binname']+'</a>';
				}
			}			
		});
	}
	function showhightedbin(uuid){
		console.log(uuid);
		
		$.post('/admin/showhightedbin', {uuid: uuid}, function(data){
			o('rightdiv').innerHTML = data.html + '<input class="btn cbut grey bbbutons" type="button" value="Unassign " /><input class="btn cbut grey bbbutons" type="button" value="Exit" style="margin-left:45%" />';
		});
	}
	function open_facility(){
		// console.log('In the open_facility.................');
		o('left_fac_div').style.display='block';
	}
	function open_practise(){
		console.log('In the open_facility.................');
		// o('left_pra_div').style.display='block';
		
		$.post('/admin/viewAllSurgeons', {}, function(data){
			console.log(data);
			o('rightdiv').innerHTML = o('rightdiv').innerHTML = '<h2>View Surgeon</h2>'+data.results;

		});
		
	}
	function submitform(){
		console.log('In the function');
		$.post('/admin/addFacility', {facility_name: o('facility_name').value, facility_website: o('facility_website').value, facility_phone: o('facility_phone').value, facility_fax: o('facility_fax').value}, function(data){
			o('facility_name').value = '';
			o('facility_website').value = '';
			o('facility_phone').value = '';
			o('facility_fax').value = '';
			window.location.href = window.location;
		});
		
		return false;
	}