style.
	#uuul li{background:#f3f3f3;padding: 10px 10px 0 10px;}
	table{width:100%}
	th{color:#FFF;background:#003595;padding:3px;text-align:center}
	td, h2{text-align:center}
	.hidassdiv{display:none;position:absolute;border:1px solid #000;width: 150px;height: 100px;background: #FFF}
	.spanclose{position:absolute;color:red;right:10px;cursor:pointer}
.col-md-11(style='border:1px solid #e7e7e7;margin:10px 0 0 20px;padding:0')
	ul#uuul
		li(style='padding-bottom:10px')
			a(href='') Add Bins
		li(style='padding-bottom:10px')
			a(href='javascript:showassigned()') Assigned Bins
		li(style='padding-bottom:10px')
			a(href='javascript:showunassigned()') UnAssigned Bins
		li(style='padding-bottom:10px')
			a(href='javascript:showdecommissioned()') Decompressed Bins
script(src='/socket.io/socket.io.js')
script.
	const socket = io();
	function o(id){return document.getElementById(id)}
	function showunassigned(){
		$.post('/admin/unassignedBins', {}, function(data){
			console.log(data);
			o('rightdiv').innerHTML = data.html;
		});
	}
	function closediv(id){
		o(id).style.display='none';
	}
	function seleop(ch, id){
		ans = (ch == 1)?"Malfunction":(ch==2)?"Damaged":"Other"
		$.post('/admin/changetodecom', {ans:ans,id:id}, function(data){
			console.log(data);
			//o('rightdiv').innerHTML = data.html;
			window.location=window.location.href;
		});
	}
	function showassigned(){
		$.post('/admin/assignedBins', {}, function(data){
			console.log(data);
			html = '<h2>Assigned Bins</h2>';
			html += '<select id="dynfacilsele" onchange="changefacildd(this.value)" style="margin-bottom: 20px"></select>';
			html += '<table id="righttable"><tr><th>Model</th><th>Mac ID</th><th>Firmware</th><th>Status</th><th>Manufactured Date</th><th>Action</th></tr>';
			for ( const bin of data){
				html += `<tr><td>${bin.model}</td>`;
				html += `<td>${bin.mac_id}</td>`;
				html += `<td>${bin.firmware}</td>`;
				html += `<td id="status_${bin.mac_id}">Loading...</td>`;
				html += `<td>${bin.mandate}</td>`;
				html += `<td><a href="javascript:decommi('${bin.uid}')">Decommission</a>`;
				html += `<div class="hidassdiv" id="${bin.uid}_hid"><span class="spanclose" onclick="closediv('${bin.uid}_hid')">X</span><a href="javascript:seleop(1, ${bin.uid})">Malfunction</a><br><a href="javascript:seleop(2, ${bin.uid})">Damaged</a><br><a href="javascript:seleop(3, ${bin.uid})">Other</a></div></td></tr>`;
				//- checkBinStatusRegularly(bin.mac_id);
			}
			html += '</table>';
			o('rightdiv').innerHTML = html;
			loadDD();

		});
	}

	function checkBinStatusRegularly(mac_id) {
		console.log(mac_id)
		setInterval (function () {
			$.post('/admin/showstatus', { mac_id }, function (data) {
				//- console.log(data);
				//- console.log(data.status);
			const statusCell = document.getElementById(`status_${mac_id}`);
			if (statusCell) {
				if (!(data.status === 'offline')) {
					statusCell.innerHTML = '<img src="/images/signal.png" class="img-fluid" onclick="showslots()"/>';
				} else {
					statusCell.innerHTML = '<img src="/images/nosignal.png" class="img-fluid "/>';
				}
			}
			});
		}, 30000); // Check status every 5 minutes (adjust the interval as needed)
	}



	function decommi(bbid){
		console.log(bbid);
		o(bbid+'_hid').style.display='block';
	}
	function loadDD(){
		daySelect = o('dynfacilsele');
		daySelect.options[daySelect.options.length] = new Option('Select facility', '');
		daySelect.options[daySelect.options.length - 1].disabled = true;
		$.post('/admin/loadFacDropdown', {}, function(data){
			console.log(data); // 
			facresults = data.results;
			for(i=0;i<facresults.length;i++){
				daySelect.options[daySelect.options.length] = new Option(facresults[i].fname, facresults[i].id);
			}
			//o('rightdiv').innerHTML = data.html;
			//loadDD();
		});
	}
	
	// dynfacilsele
	function changefacildd(id){
	console.log(id);
	
		$.post('/admin/changefacildd', {id:id}, function(data){
			console.log("I am data of changefacildd",data);
			var tableContent = '<tr><th>Model</th><th>Mac ID</th><th>Firmware</th><th>Status</th><th>Manufactured Date</th><th>Action</th></tr>';
			for ( const bin of data){
				tableContent += `<tr><td>${bin.model}</td>`;
				tableContent += `<td>${bin.mac_id}</td>`;
				tableContent += `<td>${bin.firmware}</td>`;
				tableContent += `<td id="status_${bin.mac_id}">Loading...</td>`;
				tableContent += `<td>${bin.mandate}</td>`;
				tableContent += `<td><a href="javascript:decommi('${bin.uid}')">Decommission</a>`;
				tableContent += `<div class="hidassdiv" id="${bin.uid}_hid"><span class="spanclose" onclick="closediv('${bin.uid}_hid')">X</span><a href="javascript:seleop(1, ${bin.uid})">Malfunction</a><br><a href="javascript:seleop(2, ${bin.uid})">Damaged</a><br><a href="javascript:seleop(3, ${bin.uid})">Other</a></div></td></tr>`;
				checkBinStatusRegularly(bin.mac_id);
			}
			o('righttable').innerHTML = tableContent;
			// Listen for real-time status updates
			socket.on('statusUpdate', (data) => {
				const statusCell = document.getElementById(`status_${data.mac_id}`);
				if (statusCell) {
					statusCell.textContent = data.status;
				}
			});
		});
	}
	
	function showdecommissioned(){
		$.post('/admin/showdecommissioned', {}, function(data){
			console.log(data);
			o('rightdiv').innerHTML = data.html;
		});
	}
	
	