include header.pug

.container
    .row()
        .col-md-6(style='margin:auto;border:1px solid #EFFFFF;background:#FAFAFA;text-align:center;padding:10px')
            h2= 'IOL Setup'
            br
            br
            select.form-select(id='favsele', name='favsele',onchange="favselefun(this.value)")
                option(value='')= 'Select Favorite IOL'
                option(value='fav1')= 'Primary IOL Favorite 01'
                option(value='fav2')= 'Primary IOL Favorite 02'
                option(value='fav3')= 'Primary IOL Favorite 03'
            br
            select.form-select(id='manusele', name='manusele', onchange='manuselect(this.value)')
                option(value='')= 'Select Manufacturer'
                each result in results
                    option(value=result.id)= result.mname
            br
            select.form-select(id='brandsele', name='brandsele', onchange='brandselect(this.value)')
                option(value='')= 'Select Brand'
            br
            select.form-select(id='modelsele', name='modelsele')
                option(value='')= 'Select Model'
            br
            input(class="btn cbut grey bbbutons" type="button" value="Add More" onclick="save_iol(0)")
            input(class="btn cbut blue bbbutons" type="button" value="Save and Exit" style="margin-left:20%"  onclick="save_iol(1)")
            input(type='hidden',value=userid,id='hiduserid',name='hiduserid')
            span#favhtml
script.
    $( document ).ready(function() {get_all_iol();});
    function resetAll(){
        
        removeOptions(o('brandsele'));
        console.log('resetAll...........');
        daySelect = o('manusele');
        daySelect.selectedIndex = 0;
       // o('favsele').selectedIndex = 0;
        
        myOption = document.createElement("option");
        myOption.text = 'Select Brand';
        myOption.value = '';        
        o('brandsele').appendChild(myOption);
        
        removeOptions(o('modelsele'));
        myOption = document.createElement("option");
        myOption.text = 'Select Model';
        myOption.value = '';        
        o('modelsele').appendChild(myOption);
    }
    function brandselect(id){
        console.log('model 0');
        daySelect = o('modelsele');
        removeOptions(daySelect);
        console.log('brand model is:'+id);        
       
         // val:val,snam:snam
        $.post('/admin/loadoptt',{val:id,snam:'brand'},function(data){
            console.log(data.results);
            results=data.results;
            
            myOption = document.createElement("option");
            myOption.text = 'Select Model';
            myOption.value = '';
            daySelect.appendChild(myOption);
            
            for(i=0;i<data.results.length;i++){
            myOption = document.createElement("option");
            myOption.text = results[i].model_name;
            myOption.value = results[i].id;
            daySelect.appendChild(myOption);
            } // daySelect.selectedIndex =gmod;
            high_light(daySelect,gmod);
        });
    }
    gman='';gmod='';gbra='';gid='';
    function favselefun(id){
        console.log('fav:----:'+id);
        resetAll();
        gman='';gmod='';gbra='';gid='';
        tt=document.getElementsByName('favhids');
        for(i=0;i<tt.length;i++){
            // 1-fav2-1-man 3-model 1-brand 2
            ss=tt[i].value;
            sa=ss.split('-');
            if(id==sa[1]){
            gman=sa[3];gmod=sa[4];gbra=sa[5];gid=sa[0];
            console.log(gman);
            document.getElementById("manusele").selectedIndex = gman;
            manuselect(gman);
            break;}
        }/*
        $.post('/admin/selefav',{id:id,userid:o('hiduserid').value},function(data){
            
        });*/
    }
    function manuselect(id){
        if(id==''){return;}
        daySelect = o('brandsele');
        removeOptions(daySelect);
        console.log('id:'+id);
        // myOption = document.createElement("option");

        $.post('/admin/brandbymid',{id:id},function(data){
            results = data.results;
            //console.log(results);
            myOption = document.createElement("option");
            myOption.text = 'Select Brand';
            myOption.value = '';
            daySelect.appendChild(myOption);
            for(i=0;i<results.length;i++){
                myOption = document.createElement("option");
                myOption.text = results[i].bname;
                myOption.value = results[i].id;
                daySelect.appendChild(myOption);
                //console.log('brand 3');
            }
            if(gbra!=''&&gbra>0){
                high_light(daySelect,gbra);
                //daySelect.selectedIndex = gbra;
                brandselect(gbra);
            }
        });        
    }
    
    function high_light(obj,chid){
        optarr = obj.options;
        console.log('chid:----------:'+chid);
        for(i=0;i<optarr.length;i++){
            console.log(optarr[i].value+'------'+chid);
            if(optarr[i].value==chid){
               // console.log('Inside if..............');
                break;
            }            
        }
        if(i<optarr.length)obj.selectedIndex=i;
    }
    
    function get_all_iol(){
    
        id=o('hiduserid').value;
        $.post('/admin/get_fav_iol',{id:id},function(data){
            console.log('get_fav_iol--------------------');
            console.log(data);
            console.log('get_fav_iol--------------------');
            r=data.result;
            for(i=0;i<r.length;i++){
                ff='';
                ss=r[i].id+'-'+r[i].fav_type+'-'+r[i].surgeon_id+'-'+r[i].manufacture+'-'+r[i].model+'-'+r[i].brand;
                ff = '<input type="hidden" name="favhids" value="'+ss+'"/>';
                o('favhtml').innerHTML += ff;
            }
        });
    }
    
    /*function brandselec_t(id){
        daySelect = o('modelsele');
        removeOptions(daySelect);
        
        $.post('/admin/brandbymid',{id:id},function(data){
            results = data.results;
            for(i=0;i<results.length;i++){
                myOption = document.createElement("option");
                myOption.text = results[i].bname;
                myOption.value = results[i].id;
                daySelect.appendChild(myOption);
            }
        });
        
    }*/
    
    function removeOptions(selectElement) {
       var i, L = selectElement.options.length - 1;
       for(i = L; i >= 0; i--) {
          selectElement.remove(i);
       }
    }
    
    function save_iol(ch){
       console.log('save_iol:--------:'+ch);
              
        modelsele = o('modelsele').value;
        brandsele = o('brandsele').value;
        manusele = o('manusele').value;
        favsele = o('favsele').value;
        
        console.log(':favsele:'+favsele+':manusele:'+manusele+':brandsele:'+brandsele+':model:'+modelsele+':gid:'+gid);
        //return;
        $.post('/admin/save_fav_iol', {gid:gid,model: modelsele, brand:brandsele, manu:manusele, fav:favsele}, function(data){
            resetAll();
            if(ch == 0){
                o('modelsele').value = '';
                o('brandsele').value = '';
                o('favsele').value = '';
                o('manusele').value = '';
            }else{
               window.location.href = '/admin/dashboard';
               }
        });
    }
    function add_more(){resetAll();}