style.
	.uuul li{background:#f3f3f3;padding: 10px 10px 0 10px;}
	.bbbutons{position:absolute;z-index:999;bottom:0;left:20px}
	.leftmenuExtended{margin-left: 50px !important;}
	.normal-text {font-weight: normal; /* Adjust as needed */}
	.clicked-text {font-weight: bold;font-size: 18px; /* Adjust as needed */}

script. 
	function open_facility(){
		// console.log('In the open_facility.................');
		o('left_fac_div').style.display='block';
	}

	document.addEventListener("DOMContentLoaded", function() {
		document.querySelectorAll('.leftmenuExtended td').forEach(function(td) {
			td.addEventListener('click', function() {
				// Remove clicked-text class from all tds
				document.querySelectorAll('.leftmenuExtended td').forEach(function(td) {
					td.classList.remove('clicked-text');
					td.classList.add('normal-text');
				});

				// Add clicked-text class to the clicked td
				this.classList.remove('normal-text');
				this.classList.add('clicked-text');
			});
		});
	});

	document.addEventListener("DOMContentLoaded", function() {
		document.querySelectorAll('.surgeonOption li').forEach(function(li) {
			li.addEventListener('click', function() {
				// Remove clicked-text class from all lis
				document.querySelectorAll('.surgeonOption li').forEach(function(li) {
					li.classList.remove('clicked-text');
					li.classList.add('normal-text');
				});

				// Add clicked-text class to the clicked li
				this.classList.remove('normal-text');
				this.classList.add('clicked-text');
			});
		});
	});



ul.uuul(style='margin-top:10px;')
	li
		a(href='') Add Facility
	li(style='padding-bottom:10px')
		a(href='javascript:open_facility()') View / Edit Facility
		#left_fac_div.col-md-11(style='border:1px solid #e7e7e7;margin:0 0 0 20px;padding:0')
			ul#uuul(style='padding-left:0')
				each element in results
					li
						.arrow.up(style='float:left',onclick='callswap(this,"'+element.id+'")')
						.tttdiv= element.fname
							i(class='bi bi-pen pendd', onclick='edit_facility("'+element.id+'")') Edit
						.hidivs(id=element.id)
							table(class= 'leftmenuExtended')
								tr
									td(class='normal-text')
										a(href='javascript:add_user("'+element.id+'")') Add User 
								tr
									td(class='normal-text')
										a(href='javascript:add_surgeon2("'+element.id+'","'+element.fname+'")') Link Surgeon
								tr
									td(class='normal-text')
										a(href='javascript:assign_bins("'+element.id+'","'+element.fname+'")') Assign Bin
								tr
									td(class='normal-text')
										a(href='javascript:view_dlink("'+element.id+'")') View/Dlink Surgeon
										.hidddds(id=element.id+'_uuus')
								tr
									td(class='normal-text')
										a(href='javascript:view_user("'+element.id+'")') View/Edit User
									.hidddd(id=element.id+'_uuu')
								tr
									td(class='normal-text')
										a(href='javascript:view_edit_bins("'+element.id+'")') View/Edit Bins
										.hidddds(id=element.id+'_')
		
ul.uuul(class='surgeonOption' style='margin-top:10px;')
	li
		p(style='margin:0')= 'Manage Surgeons'
	li(class='normal-text')
		a(href='javascript:add_practise()') Add Surgeon
	li(class='normal-text' style='padding-bottom:10px')
		a(href='javascript:open_practise()') View / Remove Surgeon
		
		
		
	//	#left_pra_div.col-md-11(style='border:1px solid #e7e7e7;margin:0 0 0 20px;padding:0')
	//li
	//	a(href='javascript:add_practise()') Add Practise
	//li(style='padding-bottom:10px')
	//	a(href='javascript:open_practise()') View / Edit Practise
	//	#left_pra_div.col-md-11(style='border:1px solid #e7e7e7;margin:0 0 0 20px;padding:0')
	//		ul#uuul
	//			each element in result2
	//				li
	//					.arrow.up(style='float:left',onclick='callswapp(this,"'+element.id+'")')
	//					.tttdiv= element.pname
	//						i(class='bi bi-pen pendd', onclick='edit_practise("'+element.id+'")') Edit
	//					.hidivs(id=element.id+'ppp')
	//						table
	//						tr
	//								td
	//									|
	//								td
	//									a(href='javascript:add_surgeon("'+element.id+'")') Link Surgeon 
	//							tr
	//								td(style='vertical-align: top;')
	//									.miniarrow.miniup(id=element.id+'_utdd', onclick='view_surgeon("'+element.id+'")')
	//								td
	//									a(href='javascript:view_surgeon("'+element.id+'")') View/Edit Surgeon
	//									.hidddd(id=element.id+'_pppp')
	//	
	//