include header.pug
style.
    #neworder{text-decoration:underline;}
    #orderhistory{color:#333}
    label{font-size:14px !important;}
    #ddtr01, #ddtr02{display:none;}
    #megadiv{position:absolute;display:none;border:1px solid #999; width:30%;min-height:200px;background:#FAFAFA;padding:10px;margin:0 30%;z-index:9999;top:18%}
    #megadiv h2{text-align:center}
    .td2label, .tdlabel{padding:10px 0 0 15px}
    .tdlabel{color:#999}
    .td2label{color:#000c66}
    #blackscr{background:#FFF;width:100%;height:100%;position:absolute;z-index:9998;display:none}
link(rel='stylesheet' href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
#blackscr()
.container
    .row
        table(style='width:60%;margin:auto')
            tr
                td.col-md-6(colspan=2,style='margin:auto;border:1px solid #EFFFFF;background:#FAFAFA;text-align:center;padding:10px')
                    h2= 'New Order'
                    hr
                    select.form-select#surgery_center()
                        option(value='')= 'Select Surgery Center'
                        each result in results
                            option(value=result.id)= result.fname
            tr
                td.col-md-3(style="padding:5px;position:relative")
                    input#datepicker.form-control(type="text" placeholder="Select Date")
                    i(class="fa fa-calendar" aria-hidden="true" style="position: absolute;top: 16px;right: 15px;")
                td.col-md-3(style="padding:5px")
                    input#pat_first_name.form-control(type="text" placeholder="Enter First Name")
            tr
                td.col-md-3(style="padding:5px")
                    input#pat_middle_name.form-control(type="text" placeholder="Enter Middle Name")
                td.col-md-3(style="padding:5px")
                    input#pat_last_name.form-control(type="text" placeholder="Enter Last Name")
            tr
                td.col-md-3(style="padding:5px;position:relative")
                    input#datepicker2.form-control(type="text" placeholder="Date of Birth")
                    i(class="fa fa-calendar" aria-hidden="true" style="position: absolute;top: 16px;right: 15px;")
                td.col-md-3(style="padding:5px")
                    select.form-select#select_side(type="text" placeholder="Select side")
                        option(value='')= 'Select side'
                        option(value='left')= 'left'
                        option(value='right')= 'right'
            tr
                td(style='text-align:center;color:#003595')= 'Select Primary IOL'
                td(style='text-align:center;color:#003595')= 'Select Backup IOL'
            tr
                td
                    input(type="radio" value="fav1" name="fav_sele" style="margin-left: 15%;" onchange="hightlight(this.value)")
                    label()= 'Fav IOL 01'
                    input(type="radio" value="fav2" name="fav_sele" style="margin-left: 20%;" onchange="hightlight(this.value)")
                    label()= 'Fav IOL 02'
                td
                    input(type="radio" value="fav3" name="fav_sele" style="margin-left: 15%;" onchange="hightlight(this.value)")
                    label()= 'Fav IOL 02'
                    input(type="radio" value="manually" name="fav_sele" style="margin-left: 20%;" onchange="showoptt(this.checked)")
                    label()= 'Select Manually'
            tr#ddtr01
                td(style="padding:5px")
                    select.form-select#select_manu(type="text" placeholder="Select Manufacturer" onchange="seleoptuion(this.value,'manu')")
                        option(value='')= 'Select Manufacturer'
                        each result in results2
                            option(value=result.id)= result.mname
                td(style="padding:5px")
                    select.form-select#select_brand(placeholder="Select Brand" onchange="seleoptuion(this.value,'brand')")
                        option(value='')= 'Select Brand'
            tr#ddtr02
                td(style="padding:5px")
                    select.form-select#select_model(placeholder="Select Model")
                        option(value='')= 'Select Model'
                td(style="padding:5px")
                    select.form-select#select_power(placeholder="Select Power")
                        option(value='')= 'Select Power'
            tr
                td(colspan=2,style="text-align:center")
                    input(type="button", value="Save and Exit",class="btn cbut blue bbbutons", onclick="save_order()", style="margin:10px 0 0 0")
                    input(type='hidden',value=uid,name='userid',id='userid')
        #megadiv()
            h2 Information
            #megadiv_body()
script.
    function save_order(){
        o('blackscr').style.display = 'block';
        o('megadiv').style.display = 'block';
        names= document.getElementsByName('fav_sele');
        val='';
        for(i=0;i<names.length;i++){
            if(names[i].checked){
                val=names[i].value;
            }
            val=val.replaceAll('_', ' ');
        }
        // sel.options[sel.selectedIndex].text
        body = '<table><tr>';
        body += '<td class="tdlabel">Surgery Centre</td><td class="td2label">'+o('surgery_center').options[o('surgery_center').selectedIndex].text+'</td></tr>';
        body += '<tr><td class="tdlabel">Surgery Date</td><td class="td2label">'+o('datepicker').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Patient First Name</td><td class="td2label">'+o('pat_first_name').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Patient Middle Name</td><td class="td2label">'+o('pat_middle_name').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Patient Last Name</td><td class="td2label">'+o('pat_last_name').value+'</td></tr>';
        
        mm = o('select_manu');
        bb = o('select_brand');
        mo = o('select_model');
        po = o('select_power');
        
        body += '<tr><td class="tdlabel">Date of Birth</td><td class="td2label">'+o('datepicker2').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Side</td><td class="td2label">'+o('select_side').value+'</td></tr>';
        body += '<tr><td class="tdlabel"></td><td class="td2label">'+val+'</td></tr>';
        body += '<tr><td class="tdlabel">Manufacturer</td><td class="td2label">'+mm.options[mm.selectedIndex].text+'</td></tr>';
        body += '<tr><td class="tdlabel">Brand</td><td class="td2label">'+bb.options[bb.selectedIndex].text+'</td></tr>';
        
        body += '<tr><td class="tdlabel">Model</td><td class="td2label">'+mo.options[mo.selectedIndex].text+'</td></tr>';
        body += '<tr><td class="tdlabel">Power</td><td class="td2label">'+po.options[po.selectedIndex].text+'</td></tr><tr><td colspan="2" style="padding:10px;color:red">Please check all the information for accuracy</td></tr>';
        body += '<tr><td><input type="button" class="btn cbut grey bbbutons" value="Cancel" onclick="closepop()" /></td><td><input type="button" class="btn cbut blue bbbutons" value="Submit" onclick="submit_save()" /></td>';
        body += '</tr></table>';
        o('megadiv_body').innerHTML = body;
        /*$.post('/admin/save_order2',{sucenter:o('surgery_center').value,start_dt:o('datepicker').value,fn:o('pat_first_name').value,
        mn:o('pat_middle_name').value,ln:o('pat_last_name').value,dob:o('datepicker2').value,side:o('select_side').value,sele:val,manu:o('select_manu').value,brand:o('select_brand').value,model:o('select_model').value,power:o('select_power').value},function(data){
            alert('Saved successfully');
        });*/
    }
    
    function closepop(){o('blackscr').style.display = 'none';
        o('megadiv').style.display = 'none';}
    
    function submit_save(){
        url = '/admin/save_order';
        fav_sele=document.getElementsByName('fav_sele');
        val='';
        
        for(i=0;i<fav_sele.length;i++){
            if(fav_sele[i].checked){
            val=fav_sele[i].value;
            break;
            }
        }
        
        console.log('----------------:'+o('surgery_center').value);
        $.post(url,{sucenter:o('surgery_center').value,start_dt:o('datepicker').value,fn:o('pat_first_name').value,
        mn:o('pat_middle_name').value,ln:o('pat_last_name').value,dob:o('datepicker2').value,side:o('select_side').value,sele:val,manu:o('select_manu').value,brand:o('select_brand').value,model:o('select_model').value,power:o('select_power').value},function(data){
            alert('The Order is been placed successfully');
            window.location.href=window.location;
        });
    }
    
    function seleoptuion(val,snam){
        if(''==val) return;
        url = '/admin/loadoptt';
        obj = o('select_model');
        if('manu'==snam){
            obj = o('select_brand');            
        }        
        removeOptions(obj);
            
        $.post(url,{val:val,snam:snam},function(data){
            var results = data.results;
            for(i=0;i<results.length;i++){
                option = document.createElement("option");
                if('manu'==snam){
                    if(i==0){
                        option.text = "Select Brand";
                        option.value = "";
                        obj.add(option);
                        option = document.createElement("option");
                    }
                    option.text = results[i].bname;
                    option.value = results[i].id;
                }else{
                    console.log(i);
                    console.log(results[i]);
                    if(i==0){
                        option.text = "Select Model";
                        option.value = "";
                        obj.add(option);
                        option = document.createElement("option");
                    }
                    option.text = results[i].model_name;
                    option.value = results[i].id;
                }        
                obj.add(option);
            }
            if('manu'!=snam){
                removeOptions(o('select_power'));
                loadpowers();
            }
        });
    }
    
    function loadpowers(){
        
        option = document.createElement("option");
        obj1 = o('select_power');
        removeOptions(obj1);
        option.text = 'Select Power';
        option.value = '';obj1.add(option);
        
        for(i=5;i<31;i++){
            option = document.createElement("option");
            option.text = i;
            option.value = i;
            obj1.add(option);
            
            option = document.createElement("option");
            option.text = i+parseFloat('0.5');
            option.value = i+parseFloat('0.5');
            obj1.add(option);
        }
    }
    
    function removeOptions(selectElement) {
       var i, L = selectElement.options.length - 1;
       for(i = L; i >= 0; i--) {
          selectElement.remove(i);
       }
    }
    function resetAll(){ 
        
        removeOptions(o('select_brand'));
        console.log('resetAll...........');
        daySelect = o('select_manu');
        daySelect.selectedIndex = 0;
       // o('favsele').selectedIndex = 0;
        
        myOption = document.createElement("option");
        myOption.text = 'Select Brand';
        myOption.value = '';        
        o('select_brand').appendChild(myOption);
        
        removeOptions(o('select_model'));
        myOption = document.createElement("option");
        myOption.text = 'Select Model';
        myOption.value = '';        
        o('select_model').appendChild(myOption);
    }
    function getbrandbyid(){}
    function hightlight(opt){
        showoptt(true);
        // id,fav_type,surgeon_id,manufacture,model,brand from fav_iols where surgeon_id=
        $.post('/admin/getfavs',{uid:o('userid').value,opt:opt},function(data){
            result = data.result;
            console.log(result);
            r=result[0];
            gma=r.manufacture;gbr=r.brand;gmo=r.model;
            load_brands();
        });
    }
    function high_light(obj,chid){
        optarr = obj.options;
        console.log('chid:----------:'+chid);
        for(i=0;i<optarr.length;i++){
            console.log(optarr[i].value+'------'+chid);
            if(optarr[i].value==chid){
               // console.log('Inside if..............'); gbr=r.brand;gmo=r.model;
                break;
            }            
        }
        if(i<optarr.length)obj.selectedIndex=i;
    }
    function load_brands(){// select_manu select_brand select_model
        high_light(o('select_manu'),gma);
        br=o('select_brand');
        removeOptions(br);
        
        $.post('/admin/brandbymid',{id:gma},function(data){
            // id, bname, mid 
            result=data.results;
            myOption = document.createElement("option");
            myOption.text = 'Select Brand';
            myOption.value = '';                   
            br.appendChild(myOption);
            
            for(i=0;i<result.length;i++){
                myOption = document.createElement("option");
                myOption.text = result[i].bname;
                myOption.value = result[i].id;                   
                br.appendChild(myOption);
            }
            high_light(br,gbr);
            load_models();
        }); 
    }
    function load_models(){// select_manu select_brand select_model
        br=o('select_model');
        removeOptions(br);
        
        $.post('/admin/modelbymid',{id:gbr},function(data){
            // id, bname, mid 
            result=data.results;
            myOption = document.createElement("option");
            myOption.text = 'Select Model';
            myOption.value = '';
            br.appendChild(myOption);
            
            for(i=0;i<result.length;i++){
                myOption = document.createElement("option");
                myOption.text = result[i].model_name;
                myOption.value = result[i].id;
                br.appendChild(myOption);
            }
            high_light(br,gmo);
            loadpowers();
        });
    }
    gma='';gbr='';gmo='';
    function showoptt(ch){
        if(ch){
            o('ddtr01').style.display='table-row';
            o('ddtr02').style.display='table-row';
        }
    }
    $( function() {
        $( "#datepicker" ).datepicker();
        $( "#datepicker2" ).datepicker();
      } );