include header.pug
style.
    #neworder{text-decoration:underline;}
    #orderhistory{color:#333}
    label{font-size:14px !important;}
    #ddtr01, #ddtr02, #ddtr03, #ddtr04{display:none;}
    #megadiv{position:absolute;display:none;border:1px solid #999; width:35%;min-height:200px;background:#FAFAFA;padding:10px;margin:0 30%;z-index:9999;top:18%}
    #megadiv h2{text-align:center}
    .td2label, .tdlabel{padding:10px 0 0 15px}
    .tdlabel{color:#999}
    .td2label{color:#000c66}
    #blackscr{background:#FFF;width:100%;height:100%;position:absolute;z-index:9998;display:none}
    .radio-label {
        display: inline-block;
        text-align: center;
        margin-left: 15px; /* Adjust as needed */
    }
    .hlabel{text-align:left;margin:0 0 5px 0;font-weight:bold;font-size:12px}
    .hlabel2{text-align:left;margin:0 0 5px 0;font-weight:bold;font-size:12px}
        .did-floating-label-content {
        position:relative;
        margin-bottom:20px;
    }
    .did-floating-label {
        color:#000000;
        font-size:13px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:15px;
        top:8px;
        padding:0 5px;
        background:#fff;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
    }

    .did-floating-input, .did-floating-select {
        font-size:12px;
        display:block;
        width:100%;
        height:36px;
        padding: 0 20px ;
        background: #fff;
        color: #323840;
        border: 1px solid #3D85D8;
        border-radius: 4px;
        box-sizing: border-box;
        &:focus{
            outline:none;
            ~ .did-floating-label{
                top:-8px;
                font-size:13px;
            }
        }
    }
    select.did-floating-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    select.did-floating-select::-ms-expand {
        display: none;
    }
    .did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
        top:-8px;
        font-size:13px;
    }
    .did-floating-select:not([value=""]):valid ~ .did-floating-label {
        top:-8px;
        font-size:13px;
    }
    .did-floating-select[value=""]:focus ~ .did-floating-label {
        top:11px;
        font-size:13px;
    }

    .did-floating-label{
        font-weight: 600;
        color:#003595;
    }
    .did-floating-select:not([multiple]):not([size]) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
    }
    .input-group {
        display: flex;
        .did-floating-input{
            border-radius:0 4px 4px 0;
            border-left:0;
            padding-left:0;
        }
    }
    .input-group-append {
        display:flex;
        align-items:center;
        /*   margin-left:-1px; */
    }

    .input-group-text {
        display: flex;
        align-items: center;
        font-weight: 400;
        height:34px;
        color: #323840;
        padding: 0 5px 0 20px;
        font-size:12px;
        text-align: center;
        white-space: nowrap;
        border: 1px solid #3D85D8;
        border-radius: 4px 0 0 4px;
        border-right:none;
    }
    .did-floating-label2{
        
        transition: margin-top 0.2s;
    }
    .form-control:focus, .form-select:focus  {
        box-shadow: unset;
    }

link(rel='stylesheet' href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
#blackscr()
.container
    .row
        table(style='width:60%;margin:auto;background:#FAFAFA')
            tr
                td.col-md-6(colspan=2,style='margin:auto;border:1px solid #EFFFFF;background:#FAFAFA;text-align:center;padding:10px')
                    h2= 'New Order'
                    hr
                    div.did-floating-label-content
                        label(for='surgery_center' class='did-floating-label did-floating-label1') Select Surgery Center
                        select.did-floating-input.float-label-input.form-select#surgery_center()
                            option(Value= ' ') Select 
                            if results != undefined
                                each result in results
                                    if result.fname != ''
                                        option(value=result.id)= result.fname
            tr
                td.col-md-3(style="padding:5px;position:relative")
                    //- p.hlabel Surgery Date
                    div.did-floating-label-content
                        label(for='datepicker' class='did-floating-label did-floating-label4') Select Surgery Date
                        input#datepicker.form-control.did-floating-input.float-label-input(type="text" placeholder=" " autocomplete="off")
                        i(class="fa fa-calendar" aria-hidden="true" style="position: absolute;top: 10px;right: 15px;")
                td.col-md-3(style="padding:5px")
                    div.did-floating-label-content  
                        input#pat_first_name.form-control.pat_name.did-floating-input.float-label-input(type="text" placeholder=" " autocomplete="off")
                        label.did-floating-label.did-floating-label2 Patient First Name
            tr
                td.col-md-3(style="padding:5px")
                    div.did-floating-label-content
                        input#pat_middle_name.form-control.pat_name.did-floating-input.float-label-input(type="text" placeholder=" ")
                        label.did-floating-label.did-floating-label2 Enter Middle Name
                    //- p.hlabel Patient Last Name
                td.col-md-3(style="padding:5px")
                    div.did-floating-label-content
                        input#pat_last_name.form-control.pat_name.did-floating-input.float-label-input(type="text" placeholder=" ")
                        label.did-floating-label.did-floating-label2 Enter Last Name
            tr
                td.col-md-3(style="padding:5px;position:relative")
                    div.did-floating-label-content
                        label(for='datepicker2' class='did-floating-label did-floating-label5') Patient Date of Birth
                        input#datepicker2.form-control.did-floating-input.form-select.float-label-input(type="text" placeholder="Date of Birth")
                        i(class="fa fa-calendar" aria-hidden="true" style="position: absolute;top: 10px;right: 15px;")
                td.col-md-3(style="padding:5px")
                    div.did-floating-label-content
                        //- input#gender.form-control.did-floating-input.float-label-input(type="text" placeholder=" ")
                        label.did-floating-label.did-floating-label7(for='selectgender') Select Gender
                        select.did-floating-input.float-label-input.form-select#selectgender(type="text" placeholder=" ")
                            option(value='')= 'Select'
                            option(value='Female')= 'Female'
                            option(value='Male')= 'Male'
                            option(value='other')= 'other'
                    //- p.hlabel Side
                
            tr
                td.col-md-3(style="padding:5px")
                    div.did-floating-label-content
                        label(for='select_side' class='did-floating-label did-floating-label6') Select Surgery Side
                        select.did-floating-input.float-label-input.form-select#select_side(type="text" placeholder=" ")
                            option(value='')= 'Select side'
                            option(value='Left Eye')= 'Left Eye'
                            option(value='Right Eye')= 'Right Eye'
                td.col-md-3(style="padding:5px")
                    div.did-floating-label-content
                        input#stock_level.form-control.did-floating-input.float-label-input(type="text" placeholder=" " disabled)
                        label.did-floating-label.did-floating-label2 Stock Level
            //- tr
                td.col-md-3(style="position:relative; text-align: center;")
                    h2= 'Select IOL :'
                td.col-md-3(style="padding:5px; position:relative;")
                    select#select_iol.form-select(type="text" placeholder= 'Select IOL Type' onchange="toggleIOLFields(this.value)")
                        option(value="" selected) -- Select an IOL Type --
                        option(value="primary") Select Primary IOL
                        option(value="backup") Select Backup IOL
                //td(style='text-align:center;color:#003595')= 'Select Primary IOL'
                //td(style='text-align:center;color:#003595')= 'Select Backup IOL'
            tr
                td(colspan=2,style='margin:auto;text-align:center;padding:10px')
                    p.hlabel2 Primary IOL
                        input(type='checkbox',name='',id='primarych',onchange='showiol(1,this.checked)')
                    div#primary_iol_fields.mx-auto(style="display: none;")
                        label.radio-label
                        input(type="radio" value="fav1" name="fav_sele1" onchange="hightlight(this.value)")
                        | Fav IOL 01
                        label.radio-label
                        input(type="radio" value="fav2" name="fav_sele1" style="margin-left: 20%;" onchange="hightlight(this.value)")
                        | Fav IOL 02
                        label.radio-label
                        input(type="radio" value="manu" name="fav_sele1" style="margin-left: 20%;" onchange="hightlight(this.value)")
                        | Manually
            tr#ddtr01
                td(style="padding:5px")
                    select.form-select#select_manu(type="text" placeholder="Select Manufacturer" onchange="seleoptuion(this.value,'manu')")
                        option(value='')= 'Select Manufacturer'
                        each result in results2
                            option(value=result.id)= result.mname
                td(style="padding:5px")
                    select.form-select#select_brand(placeholder="Select Brand" onchange="seleoptuion(this.value,'brand')")
                        option(value='')= 'Select Brand'
            tr#ddtr02
                td(style="padding:5px")
                    select.form-select#select_model(placeholder="Select Model")
                        option(value='')= 'Select Model'
                td(style="padding:5px")
                    select.form-select#select_power(placeholder="Select Power")
                        option(value='')= 'Select Power'
            tr
                td(colspan=2,style='margin:auto;text-align:center;padding:10px')
                    p.hlabel2 Backup IOL
                        input(type='checkbox',name='',id='backupch',onchange='showiol(2,this.checked)')
                    div#backup_iol_fields.mx-auto(style="display: none;")
                        label.radio-label
                        input(type="radio" value="fav3" name="fav_sele2" onchange="hightlight2(this.value)")
                        | Backup IOL
                        label.radio-label
                        input(type="radio" value="manu2" name="fav_sele2" style="margin-left: 20%;" onchange="hightlight2(this.value)")
                        | Manually          
            tr#ddtr03
                td(style="padding:5px")
                    select.form-select#select_manu2(type="text" placeholder="Select Manufacturer" onchange="seleoptuion(this.value,'manu2')")
                        option(value='')= 'Select Manufacturer'
                        each result in results2
                            option(value=result.id)= result.mname
                td(style="padding:5px")
                    select.form-select#select_brand2(placeholder="Select Brand" onchange="seleoptuion(this.value,'brand2')")
                        option(value='')= 'Select Brand'
            tr#ddtr04
                td(style="padding:5px")
                    select.form-select#select_model2(placeholder="Select Model")
                        option(value='')= 'Select Model'
                td(style="padding:5px")
                    select.form-select#select_power2(placeholder="Select Power")
                        option(value='')= 'Select Power'
            tr
                td(colspan=2,style="text-align:center")
                    input(type="button" value="Submit" class="btn cbut blue bbbutons" onclick="validateform()" style="margin:10px 0 0 0")
                    input(type='hidden',value=uid,name='userid' id='userid')
        #megadiv()
            h2 Information
            #megadiv_body()
script.

    function validateform() {
        // Get values of required input fields
        var surgeryCenter = o('surgery_center').value;
        var startDate = o('datepicker').value;
        var firstName = o('pat_first_name').value;
        var middleName = o('pat_middle_name').value;
        var lastName = o('pat_last_name').value;
        var dob = o('datepicker2').value;
        var gender= o('selectgender').value;
        var side = o('select_side').value;
        var manu = o('select_manu').value;
        var brand = o('select_brand').value;
        var model = o('select_model').value;
        var power = o('select_power').value;
        var manu2 = o('select_manu2').value;
        var brand2 = o('select_brand2').value;
        var model2 = o('select_model2').value;
        var power2 = o('select_power2').value;
        console.log(gender);
        // Check if any required field is empty, null, or undefined
        if (
            !surgeryCenter || !startDate || !firstName || !lastName ||
            !dob || !side || !manu || !brand || !model || !power ||
            !manu2 || !brand2 || !model2 || !power2 || !gender
        ) {
            alert('Please fill out all required fields.'); // Alert user about the missing field(s)
            return; // Stop execution if any required field is missing
        }

        // If all required fields are present, proceed with save_order function
        save_order();
    }

    $(function() {
    $("#datepicker").datepicker({
        minDate: 0, // Set minDate to 0 to disable past dates (0 means today)
        dateFormat: 'mm/dd/yy', // Date format can be adjusted as needed

    });
    });

    $(document).ready(function() {
        $('.pat_name').on('input', function() {
            var inputVal = $(this).val();
            var regex = /^[A-Za-z]+$/; // Regex pattern to allow only alphabetic characters

            if (!regex.test(inputVal)) {
            // Clear the input or display an error message
            $(this).val('');
            // You can also show an error message or perform other validation actions
            // For example:
            alert('Please enter only letters.');
            }
        });
    });

    $(document).ready(function(){
        $('#datepicker2').datepicker({
            dateFormat: 'mm/dd/yy' , //Date format
            maxDate: '-1d' , //Disable future dates
            minDate: '-120y', //allow selecting date from past 120 years.
        })
    })

    $('select#surgery_center').on('change', function () {
        var $label = $('label.did-floating-label1');
        
            
        if ($(this).val() === '') {
            $label.css('margin-top', '0');
        } else {
            $label.css('margin-top', '-20px');
            $label.removeClass('did-floating-label1');
        }
       
    });

    //jquery floating_labels handler for surgery_date
    $('input#datepicker').on('change', function () {
        var $label = $('label.did-floating-label4');
        if ($(this).val() === '') {
            $label.css('margin-top', '0');
        } else {
            $label.css('margin-top', '-20px');
            $label.removeClass('did-floating-label4');
        }   
    });
    $('input#datepicker2').on('input change', function () {
        var $label = $('label.did-floating-label5');
        if ($(this).val() === '') {
            $label.css('margin-top', '0');
        } else {
            $label.css('margin-top', '-20px');
            $label.removeClass('did-floating-label5');
        }   
    });
    $('select#select_side').on('change', function () {
        var $label = $('label.did-floating-label6');
        if ($(this).val() === '') {
            $label.css('margin-top', '0');
        } else {
            $label.css('margin-top', '-20px');
            $label.removeClass('did-floating-label6');
        }
    });
    $('select#selectgender').on('change', function () {
        var $label = $('label.did-floating-label7');
        if ($(this).val() === '') {
            $label.css('margin-top', '0');
        } else {
            $label.css('margin-top', '-20px');
            $label.removeClass('did-floating-label7');
        }
    });

    

    function toggleIOLFields(selectedValue) {
        var primaryIOLFields = $('#primary_iol_fields');
        var backupIOLFields = $('#backup_iol_fields');

        if (selectedValue === 'primary') {
            primaryIOLFields.show();
            backupIOLFields.hide();
        } else if (selectedValue === 'backup') {
            primaryIOLFields.hide();
            backupIOLFields.show();
        } else {
            primaryIOLFields.hide();
            backupIOLFields.hide();
        }
    }

    function save_order(){
        o('blackscr').style.display = 'block';
        o('megadiv').style.display = 'block';
        names= document.getElementsByName('fav_sele');
        val='';
        for(i=0;i<names.length;i++){
            if(names[i].checked){
                val=names[i].value;
            }
            val=val.replaceAll('_', ' ');
        }

        names1 = document.getElementsByName('fav_sele1');
        val1='';
        for(i=0;i<names1.length;i++){
            if(names1[i].checked){
                val1=names1[i].value;
            }
            val1=val1.replaceAll('_', ' ');
        }

        // sel.options[sel.selectedIndex].text
        body = '<table><tr>';
        body += '<td class="tdlabel">Surgery Centre</td><td class="td2label">'+o('surgery_center').options[o('surgery_center').selectedIndex].text+'</td></tr>';
        body += '<tr><td class="tdlabel">Surgery Date</td><td class="td2label">'+o('datepicker').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Patient Name</td><td class="td2label">'+o('pat_first_name').value+ " " +o('pat_middle_name').value+ " " +o('pat_last_name').value+'</td></tr>';
        //- body += '<tr><td class="tdlabel">Patient Middle Name</td><td class="td2label">'+o('pat_middle_name').value+'</td></tr>';
        //- body += '<tr><td class="tdlabel">Patient Last Name</td><td class="td2label">'+o('pat_last_name').value+'</td></tr>';

        mm = o('select_manu');
        bb = o('select_brand');
        mo = o('select_model');
        po = o('select_power');
        
        mm2 = o('select_manu2');
        bb2 = o('select_brand2');
        mo2 = o('select_model2');
        po2 = o('select_power2');
        
        prich = o('primarych').checked;
        bakch = o('backupch').checked;
        body += '<tr><td class="tdlabel">Date of Birth</td><td class="td2label">'+o('datepicker2').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Gender</td><td class="td2label">'+o('selectgender').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Surgery Side</td><td class="td2label">'+o('select_side').value+'</td></tr>';
        //- body += '<tr><td class="tdlabel"></td><td class="td2label">'+val+'</td></tr>';
        
        if(prich){
        body += '<tr><td class="tdlabel">IOL(P)</td><td class="td2label">'+mm.options[mm.selectedIndex].text+ " " +bb.options[bb.selectedIndex].text+ " " +mo.options[mo.selectedIndex].text+'</td></tr>';
        //- body += '<tr><td class="tdlabel">Primary IOL Brand</td><td class="td2label">'+bb.options[bb.selectedIndex].text+'</td></tr>';

        //- body += '<tr><td class="tdlabel">Primary IOL Model</td><td class="td2label">'+mo.options[mo.selectedIndex].text+'</td></tr>';
        body += '<tr><td class="tdlabel">IOL (P) Power</td><td class="td2label">'+po.options[po.selectedIndex].text+'</td></tr>';
        }
        
        if(bakch){
        body += '<tr><td class="tdlabel">IOL(B)</td><td class="td2label">'+mm2.options[mm2.selectedIndex].text+ " " +bb2.options[bb2.selectedIndex].text+ " " +mo2.options[mo2.selectedIndex].text+'</td></tr>';
        //- body += '<tr><td class="tdlabel">Backup IOL Brand</td><td class="td2label">'+bb2.options[bb2.selectedIndex].text+'</td></tr>';

        //- body += '<tr><td class="tdlabel">Backup IOL Model</td><td class="td2label">'+mo2.options[mo2.selectedIndex].text+'</td></tr>';
        body += '<tr><td class="tdlabel">IOL (B) Power</td><td class="td2label">'+po2.options[po2.selectedIndex].text+'</td></tr>';
        }
        body += '<tr><td colspan="2" style="padding:10px;color:red">Please check all the information for accuracy</td></tr>';
        body += '<tr><td><input type="button" class="btn cbut grey bbbutons" value="Cancel" onclick="closepop()" /></td><td><input type="button" class="btn cbut blue bbbutons" value="Submit" onclick="submit_save()" /></td>';
        body += '</tr></table>';
        o('megadiv_body').innerHTML = body;
        /*$.post('/admin/save_order2',{sucenter:o('surgery_center').value,start_dt:o('datepicker').value,fn:o('pat_first_name').value,
        mn:o('pat_middle_name').value,ln:o('pat_last_name').value,dob:o('datepicker2').value,side:o('select_side').value,sele:val,manu:o('select_manu').value,brand:o('select_brand').value,model:o('select_model').value,power:o('select_power').value},function(data){
            alert('Saved successfully');
        });*/
    }

    function closepop(){o('blackscr').style.display = 'none';
        o('megadiv').style.display = 'none';}

    function submit_save(){
        url = '/admin/save_order';
        fav_sele1=document.getElementsByName('fav_sele1');
        val='';

        for(i=0;i<fav_sele1.length;i++){
            if(fav_sele1[i].checked){
            val=fav_sele1[i].value;
            break;
            }
        }

        fav_sele2=document.getElementsByName('fav_sele2');
        val1='';

        for(i=0;i<fav_sele2.length;i++){
            if(fav_sele2[i].checked){
            val1=fav_sele2[i].value;
            break;
            }
        }

        console.log('----------------:'+o('surgery_center').value);
        $.post(url,{sucenter:o('surgery_center').value,start_dt:o('datepicker').value,fn:o('pat_first_name').value,
        mn:o('pat_middle_name').value,ln:o('pat_last_name').value,dob:o('datepicker2').value,side:o('select_side').value,sele:val,manu:o('select_manu').value,brand:o('select_brand').value,model:o('select_model').value,power:o('select_power').value,pri_iol:val,back_iol:val1,manu2:o('select_manu2').value,brand2:o('select_brand2').value,model2:o('select_model2').value,power2:o('select_power2').value,gender:o('selectgender').value },function(data){
            alert('The Order is been placed successfully');
            window.location.href=window.location;
        });
    }

    function seleoptuion(val,snam){
        if(''==val) return;
        jj=1;
        url = '/admin/loadoptt';
        obj = o('select_model');
        if('manu'==snam){
            obj = o('select_brand');
        }else if('manu2'==snam){
            obj = o('select_brand2');
            jj=2;
            gdt = 'back';
            snam='manu';
        }else if('brand2'==snam){
            snam='brand';
            obj = o('select_model2');
            jj=2;
        }
        removeOptions(obj);
        $.post(url,{val:val,snam:snam},function(data){
            var results = data.results;
            for(i=0;i<results.length;i++){
                option = document.createElement("option");
                if('manu'==snam || 'manu2'==snam){
                    if(i==0){
                        option.text = "Select Brand";
                        option.value = "";
                        obj.add(option);
                        option = document.createElement("option");
                    }
                    option.text = results[i].bname;
                    option.value = results[i].id;
                }else{
                    console.log(i);
                    console.log(results[i]);
                    if(i==0){
                        option.text = "Select Model";
                        option.value = "";
                        obj.add(option);
                        option = document.createElement("option");
                    }
                    option.text = results[i].model_name;
                    option.value = results[i].id;
                }        
                obj.add(option);
            }
            console.log('jj is:-----:'+jj);
            if('manu'!=snam){
                //removeOptions(o('select_power'));
                if(jj==1)
                loadpowers();
                else
                loadpowers2();
            }
        });
    }
    //- Power variable is here 
    function loadpowers(){
        console.log('In loadpowers.........');
        option = document.createElement("option");
        obj1 = o('select_power');
        removeOptions(obj1);
        option.text = 'Select Power';
        option.value = '';obj1.add(option);
        

        for(i= -9;i<=36;i++){
            option = document.createElement("option");
            option.text = i.toFixed(1);
            option.value = i.toFixed(1);
            obj1.add(option);
            if(i >=5 && i<=30){
                option = document.createElement("option");
                option.text = (i + 0.5).toFixed(1);
                option.value = (i + 0.5).toFixed(1);
                obj1.add(option);
            }            
        }
    }
    function loadpowers2(){

        console.log('In loadpowers 2.........');
        option2 = document.createElement("option");
        
        obj2 = o('select_power2');
        
        removeOptions(obj2);
        
        option2.text = 'Select Power';
        option2.value = '';obj2.add(option2);

        for(i= -9;i<=36;i++){
            option2 = document.createElement("option");
            option2.text = i.toFixed(1);
            option2.value = i.toFixed(1);
            obj2.add(option2);
            if(i >=5 && i<=30){
                option2 = document.createElement("option");
                option2.text = (i + 0.5).toFixed(1);
                option2.value =(i + 0.5).toFixed(1);
                obj2.add(option2);
            }
        }
    }

    function removeOptions(selectElement) {
        var i, L = selectElement.options.length - 1;
        for(i = L; i >= 0; i--) {
            selectElement.remove(i);
        }
    }
    function resetAll(){ 

        removeOptions(o('select_brand'));
        console.log('resetAll...........');
        daySelect = o('select_manu');
        daySelect.selectedIndex = 0;
        // o('favsele').selectedIndex = 0;

            myOption = document.createElement("option");
            myOption.text = 'Select Brand';
            myOption.value = '';        
            o('select_brand').appendChild(myOption);

            removeOptions(o('select_model'));
            myOption = document.createElement("option");
            myOption.text = 'Select Model';
            myOption.value = '';        
            o('select_model').appendChild(myOption);
    }
    function resetAll2(){ 

        removeOptions(o('select_brand2'));
        console.log('resetAll...........');
        daySelect = o('select_manu2');
        daySelect.selectedIndex = 0;
        // o('favsele').selectedIndex = 0;

            myOption = document.createElement("option");
            myOption.text = 'Select Brand';
            myOption.value = '';        
            o('select_brand2').appendChild(myOption);

            removeOptions(o('select_model2'));
            myOption = document.createElement("option");
            myOption.text = 'Select Model';
            myOption.value = '';        
            o('select_model2').appendChild(myOption);
    }
    
    function getbrandbyid(){}
    function hightlight(opt){
        gdt = 'prim';
        showoptt(1,true);
        // id,fav_type,surgeon_id,manufacture,model,brand from fav_iols where surgeon_id=
        $.post('/admin/getfavs',{uid:o('userid').value,opt:opt},function(data){
            result = data.result;
            console.log(result);
            r=result[0];
            gma=r.manufacture;gbr=r.brand;gmo=r.model;
            load_brands();
        });
    }
    function hightlight2(opt){
        showoptt(2,true);
        gdt = 'back';
        
        if(opt == 'manu' || opt == 'manu2'){
            resetAll2();
        }
        
        // id,fav_type,surgeon_id,manufacture,model,brand from fav_iols where surgeon_id=
        $.post('/admin/getfavs',{uid:o('userid').value,opt:opt},function(data){
            result = data.result;
            console.log(result);
            r=result[0];
            gma=r.manufacture;gbr=r.brand;gmo=r.model;
            load_brands();
        });
    }
    function showiol(ch,zzz){
        if(ch==1){
            o('primary_iol_fields').style.display= zzz?'block':'none';
            showoptt(1,zzz);
        }else{
            o('backup_iol_fields').style.display=zzz?'block':'none';
            showoptt(2,zzz);
        }
    }
    function high_light(obj,chid){
        optarr = obj.options;
        console.log('chid:----------:'+chid);
        for(i=0;i<optarr.length;i++){
            console.log(optarr[i].value+'------'+chid);
            if(optarr[i].value==chid){
                // console.log('Inside if..............'); gbr=r.brand;gmo=r.model;
                    break;
            }            
        }
        if(i<optarr.length)obj.selectedIndex=i;
    }
    function load_brands(){// select_manu select_brand select_model
        obj = gdt == 'prim'?o('select_manu'):o('select_manu2');
        high_light(obj,gma);
        //obj = gdt == 'prim'?
        br=gdt == 'prim'?o('select_brand'):o('select_brand2');
        removeOptions(br);

        $.post('/admin/brandbymid',{id:gma},function(data){
            // id, bname, mid 
            result=data.results;
            myOption = document.createElement("option");
            myOption.text = 'Select Brand';
            myOption.value = '';                   
            br.appendChild(myOption);

            for(i=0;i<result.length;i++){
                myOption = document.createElement("option");
                myOption.text = result[i].bname;
                myOption.value = result[i].id;                   
                br.appendChild(myOption);
            }
            high_light(br,gbr);
            load_models();
        }); 
    }
    function load_models(){// select_manu select_brand select_model
        br = gdt == 'prim'?o('select_model'):o('select_model2');
        // br=o('select_model');
        removeOptions(br);

        $.post('/admin/modelbymid',{id:gbr},function(data){
            // id, bname, mid 
            result=data.results;
            myOption = document.createElement("option");
            myOption.text = 'Select Model';
            myOption.value = '';
            br.appendChild(myOption);

            for(i=0;i<result.length;i++){
                myOption = document.createElement("option");
                myOption.text = result[i].model_name;
                myOption.value = result[i].id;
                br.appendChild(myOption);
            }
            high_light(br,gmo);
            if(gdt == 'prim')
            loadpowers();
            else
            loadpowers2();
        });
    }
    gma='';gbr='';gmo='';gdt='';
    function showoptt(id,ch){
        console.log('id is:'+id+':'+ch);
        if(id==1){
            if(ch){
                o('ddtr01').style.display='table-row';
                o('ddtr02').style.display='table-row';
            }else{
                o('ddtr01').style.display='none';
                o('ddtr02').style.display='none';
            }
        }else{
            if(ch){
                o('ddtr03').style.display='table-row';
                o('ddtr04').style.display='table-row';
            }else{
                o('ddtr03').style.display='none';
                o('ddtr04').style.display='none';
            }
        }
    }
    $( function() {
        $( "#datepicker" ).datepicker();
        $( "#datepicker2" ).datepicker();
    } );