include header.pug
if role == 1
    ul.horizontal
        li
            a(href="../admin/admindash") User Management
        li
            a(href="../admin/equipmain") Equipment Management
        li
            a(href="../admin/manumain") Manufacturer Management
    style.
        #features{display:none}
style.
    #neworder{text-decoration:underline;}
    #orderhistory{color:#333}
    label{font-size:14px !important;}
    #ddtr01, #ddtr02{display:none;}
    #megadiv{position:absolute;display:none;border:1px solid #999; width:30%;min-height:200px;background:#FAFAFA;padding:10px;margin:0 30%;z-index:9999;top:18%}
    #megadiv h2{text-align:center}
    .td2label, .tdlabel{padding:10px 0 0 15px}
    .tdlabel{color:#999}
    .td2label{color:#000c66}
    #ex1-tab-2:visited,#ex1-tab-1:visited { color: red;}
    #blackscr{background:#FFF;width:100%;height:100%;position:absolute;z-index:9998;display:none}
    h2{text-align:center}
    .selected_class{width:100%;height:200px}
link(rel='stylesheet' href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js" integrity="sha512-lxQ4VnKKW7foGFV6L9zlSe+6QppP9B2t+tMMaV4s4iqAv4iHIyXED7O+fke1VeLNaRdoVkVt8Hw/jmZ+XocsXQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
link(rel='stylesheet' href='https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css')
script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
#blackscr()
.container
    .row
        ul#ex1.nav.nav-tabs.mb-3(role='tablist')
          li.nav-item(role='presentation' style='width: 100%;text-align:center')
            a#ex1-tab-2.nav-link(data-mdb-toggle='tab' role='tab' aria-controls='ex1-tabs-2' aria-selected='false') Change Password
        // Tabs navs
        // Tabs content
        //each element1 in result2 
          //  p= '|'+element1.selected_sc + '|'
        #ex1-content.tab-content
          #ex1-tabs-1(role='tabpanel' style='display:none')
            h2 Select Surgerycenters
            
            select#surgicenters(multiple="multiple",class="selected_class",onchange="selected_surgy(1)")
                option(value='')= 'select surgerycenter'
                each element in result
                    option(value=element.id)= element.fname
            br
            | Selected Surgery centers
            select#selected-surgicenters(multiple="multiple",class="selected_class",onchange="selected_surgy(0)")
                option(value='')= 'select surgerycenter'
                each element in result2
                    option(value=element.id)= element.val
            input.btn.cbut.blue(type='button' onclick='savesg()' value='save')
            input(type='hidden',value=uid,id='uidhid')
          #ex1-tabs-2(role='tabpanel' style='display:block;text-align:center')
            div(style='margin:0 30%')
                br
                input.form-control#oldpassword(type="password" placeholder="Enter Old Password" required)
                br
                input.form-control#password(type="password" placeholder="Enter Password" required)
                br
                input.form-control#cpassword(type="password" placeholder="Enter Confirm Password" required)
                br
                input.form-control(type="button" style="margin:0" value="Submit" class="btn cbut blue" onclick="changepassword()")
                input(type='hidden', id='uid', value=uid)
        #megadiv()
            h2 Information
            #megadiv_body()
style.
    .cbut{margin-left: 20px;border-radius: 20px;font-size: 15px;min-width: 160px;}
    .blue{background: #003595;color: #FFF;}
    .grey{background: #FAFAFA;color: #333;border: 1px solid #999;}
script.
    function changepassword(){
        url = '/admin/save_password';
        p = o('password').value;
        c = o('cpassword').value; 
        oldPassword= o('oldpassword').value
        if(p != c){
            alert('Passwords mismatch');
        }else{
            $.post(url,{old:oldPassword,p:p,uid:o('uid').value},function(data){
                alert('Password saved successfully');
                window.location.href = "./login";
            });
        }
    }
    function savesg(){
      console.log('In savesg..............');
    
        select2=o('selected-surgicenters');
        opArr = select2.options;
        ttt='|';
        
        for(i=0;i<opArr.length;i++){
            if(i>0){
            op=opArr[i];
            ttt+=op.value+":"+op.text+'|';
            }
        }
        
        url = '/admin/save_favsg';
        if(ttt != '')
        $.post(url,{ttt:ttt,id:o('uidhid').value},function(data){
            alert('The favorite surgycenters are saved');
            window.location = window.location.href;
        });
    }
    function selected_surgy(ch){
        s1=o('surgicenters');
        s2=o('selected-surgicenters');
        if(ch==1){
            s1=o('surgicenters');
            s2=o('selected-surgicenters');
        }else{
            s2=o('surgicenters');
            s1=o('selected-surgicenters');
        }
        
        vval=s1.selectedIndex;
        console.log(vval);
        removeByIndex(vval,ch);
    }
    
    function removeAll(selectBox) {
        while(selectBox.options.length > 0){
            selectBox.remove(0);
        }
    }
    function removeByIndex(id, ch){ 
        select=o('surgicenters');
        select2=o('selected-surgicenters');        if(id>0)
        if(ch==1){opt = select.options[id]; select.removeChild(select.options[id]);select2.add(opt);}
        else{opt = select2.options[id]; select2.removeChild(select2.options[id]);select.add(opt);}
        select.selectedIndex = 0;select2.selectedIndex = 0;
    }
    
    $( document ).ready(function() {
        console.log( "ready!" );
        
        
        $('#ex1-tab-2, #ex1-tab-1').click(function(){
            id = $(this).attr('id');
            idarr = id.split('-'); // ex1-tabs-1
            o('ex1-tabs-'+idarr[2]).style.display='block';
            //$(this).addClass("active");
            if(idarr[2]==1)
            {o('ex1-tabs-2').style.display='none';
            $('#ex1-tabs-2').removeClass("active");}
            else
            {o('ex1-tabs-1').style.display='none';
            $('#ex1-tabs-1').removeClass("active");}
            console.log( "ready! ----" +id+":"+idarr[2]);
        });
    });
    function save_order(){
        o('blackscr').style.display = 'block';
        o('megadiv').style.display = 'block';
        names= document.getElementsByName('fav_sele');
        val='';
        for(i=0;i<names.length;i++){
            if(names[i].checked){
                val=names[i].value;
            }
            val=val.replaceAll('_', ' ');
        }
        // sel.options[sel.selectedIndex].text
        body = '<table><tr>';
        body += '<td class="tdlabel">Surgery Centre</td><td class="td2label">'+o('surgery_center').options[o('surgery_center').selectedIndex].text+'</td></tr>';
        body += '<tr><td class="tdlabel">Surgery Date</td><td class="td2label">'+o('datepicker').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Patient First Name</td><td class="td2label">'+o('pat_first_name').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Patient Middle Name</td><td class="td2label">'+o('pat_middle_name').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Patient Last Name</td><td class="td2label">'+o('pat_last_name').value+'</td></tr>';
        
        mm = o('select_manu');
        bb = o('select_brand');
        mo = o('select_model');
        po = o('select_power');
        
        body += '<tr><td class="tdlabel">Date of Birth</td><td class="td2label">'+o('datepicker2').value+'</td></tr>';
        body += '<tr><td class="tdlabel">Side</td><td class="td2label">'+o('select_side').value+'</td></tr>';
        body += '<tr><td class="tdlabel"></td><td class="td2label">'+val+'</td></tr>';
        body += '<tr><td class="tdlabel">Manufacturer</td><td class="td2label">'+mm.options[mm.selectedIndex].text+'</td></tr>';
        body += '<tr><td class="tdlabel">Brand</td><td class="td2label">'+bb.options[bb.selectedIndex].text+'</td></tr>';
        
        body += '<tr><td class="tdlabel">Model</td><td class="td2label">'+mo.options[mo.selectedIndex].text+'</td></tr>';
        body += '<tr><td class="tdlabel">Power</td><td class="td2label">'+po.options[po.selectedIndex].text+'</td></tr><tr><td colspan="2" style="padding:10px;color:red">Please check all the information for accuracy</td></tr>';
        body += '<tr><td><input type="button" class="btn cbut grey bbbutons" value="Cancel" onclick="closepop()" /></td><td><input type="button" class="btn cbut blue bbbutons" value="Submit" onclick="submit_save()" /></td>';
        body += '</tr></table>';
        o('megadiv_body').innerHTML = body;
        /*$.post('/admin/save_order2',{sucenter:o('surgery_center').value,start_dt:o('datepicker').value,fn:o('pat_first_name').value,
        mn:o('pat_middle_name').value,ln:o('pat_last_name').value,dob:o('datepicker2').value,side:o('select_side').value,sele:val,manu:o('select_manu').value,brand:o('select_brand').value,model:o('select_model').value,power:o('select_power').value},function(data){
            alert('Saved successfully');
        });*/
    }
    
    function closepop(){o('blackscr').style.display = 'none';
        o('megadiv').style.display = 'none';}
    
    function submit_save(){
        url = '/admin/save_order';
        fav_sele=document.getElementsByName('fav_sele');
        val='';
        
        for(i=0;i<fav_sele.length;i++){
            if(fav_sele[i].checked){
            val=fav_sele[i].value;
            break;
            }
        }
        
        console.log('----------------:'+o('surgery_center').value);
        $.post(url,{sucenter:o('surgery_center').value,start_dt:o('datepicker').value,fn:o('pat_first_name').value,
        mn:o('pat_middle_name').value,ln:o('pat_last_name').value,dob:o('datepicker2').value,side:o('select_side').value,sele:val,manu:o('select_manu').value,brand:o('select_brand').value,model:o('select_model').value,power:o('select_power').value},function(data){
            alert('The Order is been placed successfully');
            window.location.href=window.location;
        });
    }
    
    function seleoptuion(val,snam){
        if(''==val) return;
        url = '/admin/loadoptt';
        obj = o('select_model');
        if('manu'==snam){
            obj = o('select_brand');            
        }        
        removeOptions(obj);
            
        $.post(url,{val:val,snam:snam},function(data){
            var results = data.results;
            for(i=0;i<results.length;i++){
                option = document.createElement("option");
                if('manu'==snam){
                    if(i==0){
                        option.text = "Select Brand";
                        option.value = "";
                        obj.add(option);
                        option = document.createElement("option");
                    }
                    option.text = results[i].bname;
                    option.value = results[i].id;
                }else{
                    console.log(i);
                    console.log(results[i]);
                    if(i==0){
                        option.text = "Select Model";
                        option.value = "";
                        obj.add(option);
                        option = document.createElement("option");
                    }
                    option.text = results[i].model_name;
                    option.value = results[i].id;
                }        
                obj.add(option);
            }
            if('manu'!=snam){
                removeOptions(o('select_power'));
                loadpowers();
            }
        });
    }
    
    function loadpowers(){
        
        option = document.createElement("option");
        obj1 = o('select_power');
        removeOptions(obj1);
        option.text = 'Select Power';
        option.value = '';obj1.add(option);
        
        for(i=5;i<31;i++){
            option = document.createElement("option");
            option.text = i;
            option.value = i;
            obj1.add(option);
            
            option = document.createElement("option");
            option.text = i+parseFloat('0.5');
            option.value = i+parseFloat('0.5');
            obj1.add(option);
        }
    }
    
    function removeOptions(selectElement) {
       var i, L = selectElement.options.length - 1;
       for(i = L; i >= 0; i--) {
          selectElement.remove(i);
       }
    }
    function resetAll(){ 
        
        removeOptions(o('select_brand'));
        console.log('resetAll...........');
        daySelect = o('select_manu');
        daySelect.selectedIndex = 0;
       // o('favsele').selectedIndex = 0;
        
        myOption = document.createElement("option");
        myOption.text = 'Select Brand';
        myOption.value = '';        
        o('select_brand').appendChild(myOption);
        
        removeOptions(o('select_model'));
        myOption = document.createElement("option");
        myOption.text = 'Select Model';
        myOption.value = '';        
        o('select_model').appendChild(myOption);
    }
    function getbrandbyid(){}
    function hightlight(opt){
        showoptt(true);
        // id,fav_type,surgeon_id,manufacture,model,brand from fav_iols where surgeon_id=
        $.post('/admin/getfavs',{uid:o('userid').value,opt:opt},function(data){
            result = data.result;
            console.log(result);
            r=result[0];
            gma=r.manufacture;gbr=r.brand;gmo=r.model;
            load_brands();
        });
    }
    function high_light(obj,chid){
        optarr = obj.options;
        console.log('chid:----------:'+chid);
        for(i=0;i<optarr.length;i++){
            console.log(optarr[i].value+'------'+chid);
            if(optarr[i].value==chid){
               // console.log('Inside if..............'); gbr=r.brand;gmo=r.model;
                break;
            }            
        }
        if(i<optarr.length)obj.selectedIndex=i;
    }
    function load_brands(){// select_manu select_brand select_model
        high_light(o('select_manu'),gma);
        br=o('select_brand');
        removeOptions(br);
        
        $.post('/admin/brandbymid',{id:gma},function(data){
            // id, bname, mid 
            result=data.results;
            myOption = document.createElement("option");
            myOption.text = 'Select Brand';
            myOption.value = '';                   
            br.appendChild(myOption);
            
            for(i=0;i<result.length;i++){
                myOption = document.createElement("option");
                myOption.text = result[i].bname;
                myOption.value = result[i].id;                   
                br.appendChild(myOption);
            }
            high_light(br,gbr);
            load_models();
        }); 
    }
    function load_models(){// select_manu select_brand select_model
        br=o('select_model');
        removeOptions(br);
        
        $.post('/admin/modelbymid',{id:gmo},function(data){
            // id, bname, mid 
            result=data.results;
            myOption = document.createElement("option");
            myOption.text = 'Select Model';
            myOption.value = '';
            br.appendChild(myOption);
            
            for(i=0;i<result.length;i++){
                myOption = document.createElement("option");
                myOption.text = result[i].model_name;
                myOption.value = result[i].id;
                br.appendChild(myOption);
            }
            high_light(br,gmo);
            loadpowers();
        });
    }
    gma='';gbr='';gmo='';
    function showoptt(ch){
        if(ch){
            o('ddtr01').style.display='table-row';
            o('ddtr02').style.display='table-row';
        }
    }
    $( function() {
        $( "#datepicker" ).datepicker();
        $( "#datepicker2" ).datepicker();
      } );